*{
    border-bottom: 4rem;
    background-color: dimgrey;
}
.btn {
    background-color: royalblue;
    color: crimson;
    border-radius: 5rem;
    border: 6rem;
}
.note {
    color: black;
    background-color: gold;
}